.navBarBox{
    height: 50px;
    width: 100%;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbarLeft{

    flex: 3;
    font-family: 'sans-serif';
}
.navbarCenter{
    flex: 5;
}
.navbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.profilepicImage{
    width: 38px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 50px;
}
.logo{
    font-family: 'Klavika';
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.serchBarBox{
    widows: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;

 }
 .searchIcon{
    margin-left: 10px;
 }
 .searchInput{
    border: none;
    width: 80%;
 }
 .searchInput:focus{

    outline: none;
    
 }
 .navbarIcons{

    display: flex;
    align-items: center;
    justify-content: space-between;

 }
 .navbarIcon{
    margin-left: 10px;

 }
 .navbarLinks{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
 }
 .navbarLink{
    margin-left: 10px;
 }
 .IconTag{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    position:absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
 }