.rightPaneBox{
   
    flex: 3;
    height: calc(100vh - 50px);
    font-family: sans-serif;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
.rightpaneContainer{
    padding: 20px 0 0;   

}
.adContainer{
    margin-top: 10;
    font-family: sans-serif;
}
.sponsered{
    font-size: 20px;
    font-weight: bold;
    color: rgb(99, 93, 93);

}
.adImage{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 98%;
    height: 270px;
}
.adText{
    margin-top: 5px;
    margin-left: 10px;

 
}
.birthdayImage{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
    
}
.birthdayContainer{
    display: flex;
    align-items: center;
    margin-top: 20px ;
    margin-bottom: 20px;
}
.onlineFriends{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.onlineFriendImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.onlineFriendContainer{
    display: flex;
    position: relative;

}
.onlineStatus{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: lime;
    position: relative;
    border: 2px solid white;
}
.onlineFriendName{
    margin-left: 10px;
}
birthdayText{
    margin-top: 20px;
}